PORT=3000
BASE_URL=http://localhost:3000

REDIS_TYPE=single
REDIS_URL=redis://localhost:6379
REDIS_DEFAULT_TTL=3600
REDIS_DEFAULT_CATALOG_TTL=600
REDIS_DEFAULT_PRODUCTS_TTL=600
REDIS_DEFAULT_PRODUCT_CARD_TTL=300

DB_HOST=host
DB_PASSWORD=password
DB_USERNAME=user_name
DB_DATABASE=database_name

# SENTRY_DSN=sentry_priject_dsn
SENTRY_DSN=https://7f92264b9cb7d331b1797060f79a5453@o4504702503682048.ingest.us.sentry.io/4509927721205760

ALLOWED_API_KEYS=test
SECRET_TOKEN=secret_token

JWT_EXPIRES_IN=15m
JWT_REFRESH_IN=7d
JWT_SUPER_SECRET_WORD=super_secret_word